body { 	color: black;
		font-family: Gill Sans, Verdana, Helvetica, sans-serif;
		font-size: 10pt;
		margin: 0 auto; 
	}


a { text-decoration:none; font-weight: bold; }
a:link, a:visited { color: #fff; }	
	
#wrap {width:1240px; margin:0 auto; background:#000000; border-left: solid 2px black; border-right: solid 2px black;  }

#header { background:#ddd; padding:5px 10px;  }

#nav { background:#000000; padding:5px 10px; text-align:center; }
#nav li  { display: inline; list-style-type: none; padding-right: 20px; font-size: 14pt; font-weight:normal; font-variant:small-caps;}

#main {background:#FFD700; float:left; width:580px; padding-top:0px; padding-left:10px; padding-right:10px; padding-bottom:10px; margin-bottom:0; height:3050px; }

/* Star hack for IE 6 bug */
* html #footer { height:1px; }

/* Resume formatting */

#resume {background:#FFFFF0; width:900px; margin:auto; padding:20px; text-align:left; }

table { border-collapse:collapse; width:80%; margin-left:75px; }
table,th, td { border: 1px solid green; }
th { height:30px; background-color:yellow; color:white; text-align:center; vertical-align:middle; padding:15px;} 
th.coursename { text-align:left;}
td { text-align:center; height:30px; vertical-align:middle; padding:5px;}
td.coursename { text-align:left;}
caption { text-align:left;}

